*.class

# Package Files #
*.jar
*.war
*.ear
/cli/.classpath
/cli/.project
/config/.classpath
/config/.project
/content/.classpath
/content/.project
/ear/.project
/ecmadmin/.classpath
/ecmadmin/.project
/gadget/.classpath
/gadget/.project
/idm/.classpath
/idm/.project
/mop-packaging/.classpath
/mop-packaging/.project
/mop/.classpath
/mop/.project
/content/target
/cli/target
/ear/target
/config/target
/mop-packaging/target
/mop/target
/idm/target
/ecmadmin/target
/gadget/target
.project
.settings
/portlet/.classpath
/portlet/target
/registry/.classpath
/registry/.project
/registry/target
/ear-jpp/target
/site/target
/site/.classpath

/cli/src/main/webapp/META-INF/MANIFEST.MF
/cli/src/main/webapp/META-INF/maven/org.exoplatform.extensions.staging/staging-extension-cli/pom.properties
/cli/src/main/webapp/META-INF/maven/org.exoplatform.extensions.staging/staging-extension-cli/pom.xml
/portlet/src/main/webapp/META-INF/MANIFEST.MF
/portlet/src/main/webapp/META-INF/maven/org.exoplatform.extensions.staging/staging-extension-portlet/pom.properties
/portlet/src/main/webapp/META-INF/maven/org.exoplatform.extensions.staging/staging-extension-portlet/pom.xml

/ear-jpp/src/main/application/META-INF/application.xml
/extension-generator/portlet/target
/extension-generator/service/target
/extension-generator/ear/target
/extension-generator/ear/src/main/application/META-INF/application.xml
/extension-generator/portlet/.classpath
/extension-generator/portlet/src/main/webapp/META-INF/MANIFEST.MF
/extension-generator/service/.classpath
