@import "jquery.dataTables.css";
.synchronization-container {
  background-color: #fefefe;
  padding: 12px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.operationBox {
  border: 1px solid #dddddd;
  background-color: #f7f7f7;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.35), -1px 0 1px #ffffff;
  padding: 6px 60px;
  margin: 0 30px 10px 30px;
}
.descriptionBox {
  border: 1px solid #dddddd;
  background-color: #f5f5f5;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.35), -1px 0 1px #ffffff;
  padding: 6px 30px;
  margin: 20px 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.35), -1px 0 1px #ffffff;
  text-shadow: 0 1px 1px #FFF;
  background-image: linear-gradient(to bottom, #f6f6f6, #efefef);
}
.descriptionBox b {
  color: #2f5e92;
}
.css-list {
  border: 1px solid #dddddd;
  background-color: #f7f7f7;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.35), -1px 0 1px #ffffff;
  padding: 10px;
  background-image: linear-gradient(to left, #f6f6f6, #e5e5e5);
}
.css-list .labelAMixin {
  display: inline-block;
  height: 18px;
  line-height: 16px;
  vertical-align: middle;
}
.css-list .labelRadius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
}
.css-list ul,
.css-list li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.css-list ul.css-list-parent-ul {
  padding: 5px;
  margin: 10px;
  background-color: #FAFAFA;
  border-radius: 3px;
  border: 1px solid lightblue;
}
.css-list a {
  color: #00f;
  text-decoration: none;
  display: inline-block;
  height: 18px;
  line-height: 16px;
  vertical-align: middle;
}
.css-list a:hover {
  text-decoration: underline;
}
.css-list .list-checkbox {
  vertical-align: initial;
}
.css-list .tree-checkbox {
  position: absolute;
  opacity: 0;
}
.css-list .tree-checkbox + label + ul {
  margin: 0 0 0 22px;
}
.css-list .tree-checkbox ~ ul {
  display: none;
}
.css-list .tree-checkbox:disabled + label {
  cursor: default;
  opacity: .6;
}
.css-list .tree-checkbox:checked:not(:disabled) ~ ul {
  display: block;
}
.css-list .tree-checkbox:checked + .parent::before {
  background: transparent url("/synchronization-portlet/style/images/minus.png") no-repeat center;
}
.css-list label {
  display: inline-block;
  height: 18px;
  line-height: 16px;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
}
.css-list .labelBeforeMixin {
  display: inline-block;
  height: 18px;
  line-height: 16px;
  vertical-align: middle;
  content: "";
  width: 16px;
}
.css-list label.parent::before {
  display: inline-block;
  height: 18px;
  line-height: 16px;
  vertical-align: middle;
  content: "";
  width: 16px;
  margin: 0 22px 0 0;
}
.css-list label.leaf::before {
  display: inline-block;
  height: 18px;
  line-height: 16px;
  vertical-align: middle;
  content: "";
  width: 16px;
  margin: 0 8px;
}
.css-list .parent {
  background: transparent url("/synchronization-portlet/style/images/parent.gif") no-repeat 19px 50%;
  background-size: 18px;
  text-transform: capitalize;
}
.css-list .parent::before {
  background: transparent url("/synchronization-portlet/style/images/plus.png") no-repeat center;
}
.css-list .leaf::before {
  background: transparent url("/synchronization-portlet/style/images/leaf.png") no-repeat center;
  margin: 0 10px 0 0;
  background-size: 18px;
}
.css-list .Clickable {
  cursor: pointer;
  white-space: nowrap;
}
.css-list .SelectedNode {
  background-color: #f5f5f5;
}
.css-list .Clickable:hover {
  background-color: lightsteelblue;
}
.css-list .NotClickable {
  cursor: default;
}
.error {
  background-color: #f2dede;
  padding: 8px;
  line-height: 32px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.success {
  background-color: #dff0d8;
  padding: 8px;
  line-height: 32px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.progressBar {
  background-color: #fcf8e3;
  padding: 8px;
  line-height: 32px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .css-list {
    -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
  }
  @-webkit-keyframes webkit-adjacent-element-selector-bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
}
.leftColumn {
  margin-left: 0;
  width: 32%;
  display: block;
  float: left;
}
.rightColumn {
  width: 58%;
  display: block;
  float: left;
  margin: 0 2%;
  padding: 0 2% 30px 2%;
  border: 1px solid #dddddd;
  background-color: #fbfbfb;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.35), -1px 0 1px #ffffff;
}

.resources-list {
  font-size: 14px;
  margin: 2px;
  background-color: white;
  padding: 0 19px;
  border: 1px solid #dddddd;
  overflow: overlay;
  max-height: 500px;
}
.resources-list ul {
  margin: 4px;
}
.resources-list li {
  list-style-type: circle;
}
div.dataTables_length label {
  width: 460px;
  float: left;
  text-align: left;
}
div.dataTables_length select {
  width: 75px;
}
div.dataTables_filter label {
  float: right;
  width: 460px;
}
div.dataTables_info {
  padding-top: 8px;
}
div.dataTables_paginate {
  float: right;
  margin: 0;
}
table {
  margin: 1em 0;
  clear: both;
}
.form-actions {
  background-color: gray;
}
.css-list-parent-ul .form-actions button.btn,
input[type="submit"].btn {
  margin-left: 28px;
}

.rightColumn .css-list {
  background: white;
}

.rightColumn .css-list .parent {
  background: transparent;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.rightColumn .css-list li {
	padding: 10px 20px 20px 18px;
}
.rightColumn .css-list label.checkbox .option {
	margin: 0 6px 0 0;
	padding: 0;
}
.rightColumn .css-list label.checkbox {
	display: block;
}
.rightColumn .css-list ul li hr {
	margin: -7px 0 10px 0;
}