<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2011, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<module xmlns="urn:jboss:module:1.1" name="org.gatein.lib">
  <resources>
    <resource-root path="exo.core.component.database-2.5.11-GA-redhat-1.jar"/>
        <resource-root path="exo.core.component.document-2.5.11-GA-redhat-1.jar"/>
        <resource-root path="exo.core.component.ldap-2.5.11-GA-redhat-1.jar"/>
        <resource-root path="exo.core.component.organization.api-2.5.11-GA-redhat-1.jar"/>
        <resource-root path="exo.core.component.organization.jdbc-2.5.11-GA-redhat-1.jar"/>
        <resource-root path="exo.core.component.organization.ldap-2.5.11-GA-redhat-1.jar"/>
        <resource-root path="exo.core.component.security.core-2.5.11-GA-redhat-1.jar"/>
        <resource-root path="exo.core.component.xml-processing-2.5.11-GA-redhat-1.jar"/>
        <resource-root path="exo.jcr.component.core-1.15.11-GA-redhat-1.jar"/>
        <resource-root path="exo.jcr.component.ext-1.15.11-GA-redhat-1.jar"/>
        <resource-root path="exo.jcr.component.ftp-1.15.11-GA-redhat-1.jar"/>
        <resource-root path="exo.jcr.component.webdav-1.15.11-GA-redhat-1.jar"/>
        <resource-root path="exo.jcr.framework.command-1.15.11-GA-redhat-1.jar"/>
        <resource-root path="exo.jcr.framework.web-1.15.11-GA-redhat-1.jar"/>
        <resource-root path="exo.kernel.commons-2.4.11-GA-redhat-1.jar"/>
        <resource-root path="exo.kernel.component.cache-2.4.11-GA-redhat-1.jar"/>
        <resource-root path="exo.kernel.component.command-2.4.11-GA-redhat-1.jar"/>
        <resource-root path="exo.kernel.component.common-2.4.11-GA-redhat-1.jar"/>
        <resource-root path="exo.kernel.component.ext.cache.impl.jboss.v3-2.4.11-GA-redhat-1.jar"/>
        <resource-root path="exo.kernel.container-2.4.11-GA-redhat-1.jar"/>
        <resource-root path="exo.portal.component.api-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.component.application-registry-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.component.common-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.component.identity-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.component.management-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.component.pc-3.8.16.Final-redhat-1.jar"/>
		<resource-root path="staging-extension-gadget.jar" />
		<resource-root path="staging-extension-registry.jar" />
		<resource-root path="staging-extension-site.jar" />
		<resource-root path="staging-extension-common.jar" />
        <resource-root path="exo.portal.component.portal-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.component.resources-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.component.scripting-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.component.web.api-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.component.web.controller-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.component.web.oauth-common-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.component.web.resources-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.component.web.security-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.component.web.security-jboss-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.component.web.server-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.gadgets-core-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.webui.core-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.webui.dashboard-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.webui.eXo-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.webui.framework-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.webui.portal-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.portal.webui.portlet-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="exo.ws.commons-2.3.11-GA-redhat-1.jar"/>
        <resource-root path="exo.ws.frameworks.json-2.3.11-GA-redhat-1.jar"/>
        <resource-root path="exo.ws.frameworks.servlet-2.3.11-GA-redhat-1.jar"/>
        <resource-root path="exo.ws.rest.core-2.3.11-GA-redhat-1.jar"/>
        <resource-root path="exo.ws.rest.ext-2.3.11-GA-redhat-1.jar"/>
        <resource-root path="gatein-api-1.1.0.Final-redhat-1.jar"/>
        <resource-root path="redirect-3.8.16.Final-redhat-1.jar"/>
        <resource-root path="mop-api-1.3.3.Final-redhat-1.jar"/>
        <resource-root path="mop-core-1.3.3.Final-redhat-1.jar"/>
        <resource-root path="mop-spi-1.3.3.Final-redhat-1.jar"/>
        <resource-root path="simplecaptcha-1.1.1.Final-gatein-4-redhat-2.jar"/>
        <resource-root path="gatein-cdi-injection-3.8.16.Final-redhat-1.jar"/>
  </resources>

  <dependencies>
    <module name="javax.annotation.api"/>
    <module name="javax.api"/>
    <module name="javax.enterprise.api"/>
    <module name="javax.jcr.api"/>
    <module name="javax.mail.api"/>
    <module name="javax.portlet.api"/>
    <module name="javax.resource.api"/>
    <module name="javax.servlet.api"/>
    <module name="javax.servlet.jsp.api"/>
    <module name="javax.transaction.api"/>
    <module name="javax.ws.rs.api"/>
    <module name="javax.xml.bind.api"/>

    <module name="com.google.apis" />
    <module name="com.google.guava" slot="gatein"/>
    <module name="com.google.javascript"/>
    <module name="org.codehaus.plexus"/>
    <module name="com.h2database.h2"/>
    <module name="com.jhlabs.filters"/>
    <module name="com.thoughtworks.xstream"/>
    <module name="de.odysseus.juel"/>
    <module name="edu.oswego.concurrent"/>
    <module name="eu.medsea.mimeutil"/>
    <module name="net.oauth.core"/>

    <module name="org.apache.commons.beanutils">
      <imports>
        <exclude-set>
          <path name="org/apache/commons/collections"/>
        </exclude-set>
      </imports>
    </module>
    <module name="org.apache.commons.chain"/>
    <module name="org.apache.commons.codec"/>
    <module name="org.apache.commons.collections"/>
    <module name="org.apache.commons.dbcp"/>
    <module name="org.apache.commons.fileupload"/>
    <module name="org.apache.commons.io"/>
    <module name="org.apache.commons.lang"/>
    <module name="org.apache.commons.logging"/>
    <module name="org.apache.commons.pool"/>
    <module name="org.apache.httpcomponents"/>
    <module name="org.apache.lucene"/>
    <module name="org.apache.pdfbox"/>
    <module name="org.apache.poi"/>
    <module name="org.apache.sanselan"/>
    <module name="org.apache.tika"/>
    <module name="org.apache.ws.commons"/>
    <module name="org.apache.xmlbeans"/>
    <module name="org.bouncycastle"/>
    <module name="org.chromattic"/>
    <module name="org.codehaus.groovy"/>
    <module name="org.enhydra.xapool"/>
    <module name="org.gatein.common"/>
    <module name="org.gatein.management" export="true"/>
    <module name="org.gatein.pc"/>
    <module name="org.gatein.shindig"/>
    <module name="org.gatein.wci"/>
    <module name="org.gatein.wsrp.integration"/>
    <module name="org.hibernate"/>
    <module name="org.htmlparser"/>
    <module name="org.infinispan"/>
    <module name="org.jibx"/>
    <module name="org.jboss.as.web"/>
    <module name="org.jboss.common-core"/>
    <module name="org.jboss.logging"/>
    <module name="org.jboss.jts"/>
    <module name="org.jboss.cache"/>
    <module name="org.jgroups" slot="gatein"/>
    <module name="org.mozilla.javascript"/>
    <module name="org.mozilla.universalchardet"/>
    <module name="org.objectweb.howl"/>
    <module name="org.picketlink.idm"/>
    <module name="org.picocontainer" export="true"/>
    <module name="org.slf4j"/>
    <module name="org.staxnav"/>
    <module name="org.twitter4j" />

    <system export="true">
      <paths>
        <!-- exo.portal.gadgets-core has dependency on sun.misc.BASE64Encoder -->
        <path name="sun/misc"/>
      </paths>
    </system>

  </dependencies>
</module>
